<%- include("head.partial.ejs") %>

<main>
  <h1><%= title %></h1>
  <ul id="category">
    <% category.kitties.forEach(function(kitty){ %>
    <li><%= kitty.ascii_art %></li>
    <% }) %>
  </ul>
  <div>
    <h3>Nowy kot</h3>
    <%- include("forms/new_katt.ejs") %>
  </div>
</main>

<%- include("foot.partial.ejs") %>
